a:visited {
	color: purple;
	text-decoration: none;
}
a:link {
	color:black;
	text-decoration: inherit;
}
a:hover {
	color: yellow;
	text-decoration: unset;
}
a:active {
	color:red;
	text-decoration: blink;
}
#first {
 	width:2px;
 	height:2px;
}