#posti {
	color: red;
	border: 1px solid red;
	width: 100px;
	height: 100px;
}

.insideDiv,  .secondDiv {
	border: 1px solid blue;
	width: 2;
	height: 200PX;
	color : red !important;
}

.secondDiv {
	border: 1px solid yellow;
	height: 250PX;
} 

.Div4, .Div5 {
	width: 200px;
	height: 200px;
	border: 1px solid black;
	position: absolute;
}

.Div5 {
	position: static;
}

.Div3 {
	width: 600px;
	height: 600px;
	border: 1px solid black;
	position: relative;
}

.common {
	color:white;
	height: 30px;
	width: 50px;
	
}
.extra {
	background-color: pink;
	position: static;
	margin-left: 20px;
}
.P1 {
	background-color: red;
}
.P2 {
	background-color: green;
	position: absolute;
	top: 5px;
}
.P3 {
	background-color: blue;
	display: none;
}
.P4 {
	background-color: yellow;
	color: red;
}
.parentDiv {
	background-color: #664222;
	width:300px;
	height: 600px;
	color:grey;
	border: 1px solid red;
	position: relative;
}
