
h4 {
	color: blue;
	margin: 50px; /*The CSS margin property defines a margin (space) outside the border:*/
	border: 2px dotted red;
}

p {
	color: red;
	padding: 20px; /*The CSS padding property defines a padding (space) between the text and the border:*/
	border: blue 2px solid;
}

#p1{
	background-color: yellow;
}

.p2{
	color: green;
}
h5.error{
	background-color: green;
}

h6.error1{
	background-color: pink;
}
h3, h1 {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
}
.city {
  background-color: tomato;
  color: white;
  padding: 10px;
} 

.main {
  text-align: center;
}