 #Container
  {
  	width: 95%;
  	height: 610px;
  	border: 1px solid black;
  	position: relative;
  	margin-left: 30px;
  }
  #header
  {
  	position: absolute;
  	width: 100%;
  	height:50px;
  	border: 1px solid black;
  }
  #bar
  {
  	position: absolute;
  	width: 100%;
  	height:30px;
  	margin-top: 50px;
  	border: 1px solid blue;

  }
   #steps
  {
  	position: absolute;
  	width: 100%;
  	height:30px;
  	margin-top: 90px;
  	border: 1px solid red;

  }
